:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0px;
  padding: 0;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-image: #08203e;
  height: 100vh;
  margin: 0 20px;
}

h1 {
  font-size: 25px;
  margin-top: 25px;
}

h2 {
  font-size: 16px;
  margin: 0px 40px;;
  text-align: center;
  font-weight: 400;
  letter-spacing: .04em;  
}

textarea {
  width: 280px;
  box-sizing: border-box;
  padding: 8px 15px;
  border-radius: 5px;
  resize: none;
  height: 3.5em;
}

button {
  margin-top: 8px;
  background: deepskyblue;
  background: #eee;
  width: 280px;
  padding: 15px 0;
  color: #000;
  border: none;
  border-radius: 5px;
  letter-spacing: 1.1px;
  cursor: pointer;
}

.frame {
  background-color: #000;
  border: solid 5vmin #eee;
  border-radius: 2px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 280px;
  height: 280px;
}

.frame img {
  width: 100%;
}

.container{
  margin-top: 8px;
  background: deepskyblue;
  background: #eee;
  max-width: 526px;
  padding: 15px 0;
  color: #000;
  border-radius: 5px;
}
